@charset "UTF-8";

@font-face {
	font-family: 'MBC1961GulimM';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/MBC1961GulimM.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Pretendard-Regular';
	src:
		url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
		format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'omyu_pretty';
	src:
		url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-01@1.0/omyu_pretty.woff2')
		format('woff2');
	font-weight: normal;
	font-style: normal;
}

body {
	height: 100%;
}

a {
	text-decoration: none;
	color: black;
}

.detail-button{
	background-color: #02031B;
	border: 1px solid #02031B;
	border-radius: 4px;
	color: white;
	padding: 5px 55px;
	cursor: pointer;
}

.detail-search{
	background-color: #F2E7D5;
	color:black;
	border-radius: 4px;
	border: 0.6px solid white;
	cursor: pointer;
	padding-left:3px;
	font-size: 15px;
}

detail-search:hover{
	box-shadow: 0 2px 4px -2px rgb(0 0 0/ 0.1), 0 4px 6px -1px
		rgb(0 0 0/ 0.1);
}

.select-deco {
	width: 30%;
	padding: 2px;
	border-radius: 6px;
	font-size: 14px;
	text-align: center;
}

.write-main {
	padding-top: 4em;
	display: flex;
	justify-content: center;
}

.write-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.write-range {
	width: 55%;
}

.write-blank {
	border: 2px solid rgba(120, 120, 120, 0.8);
	padding: 10px 10px;
	border-radius: 4px;
}

.quit-button-position{
	padding-top:5px;
	padding-right: 5px;
	
}

.quit-button{
	background-color: #F0F8FF;
	border: 0;
	font-size: 20px;
	cursor: pointer;
}

.reset-button{
	background-color:transparent;
	border: 0;
	font-size:22px;
	font-weight: bold;
	cursor: pointer;
}

.write-blank1 {
	border: 2px solid rgba(120, 120, 120, 0.8);
	padding: 10px 10px;
	border-radius: 4px;
	resize: none;
	height: 20rem;
}

.index-search-button {
	width: 100%;
	font-size: 16px;
	padding: 5px 6px;
	background-color: #F2E7D5;
	border: 0.6px solid white;
	border-radius: 6px;
	cursor: pointer;
	font-weight: bold;
}

.index-search-button:hover {
	font-size: 17px;
	border-radius: 6px;
	border: 1px solid white;
	background: white;
	border-radius: 6px;
	cursor: pointer;
	box-shadow: 0 2px 4px -2px rgb(0 0 0/ 0.1), 0 4px 6px -1px
		rgb(0 0 0/ 0.1);
}

.index-search-position {
	padding-top: 0.5em;
	width: 40%;
}

.sign-up-main {
	display: 5em;
	padding-top: 3em;
	gap: 8px;
	padding-top: 3em;
}

.sign-up-main1 {
	display: flex;
	justify-content: center;
}

.sign-up-main2 {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 20rem;
}

.sign-up-main3 {
	text-align: center;
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-top: 0.5em;
	border: 0.6px solid #E3F6FF;
	padding-bottom: 0.5em;
	border-radius: 7px;
}

.sign-up-seelct {
	gap: 8px;
	display: flex;
	justify-content: center;
}

.sign-up-button {
	font-family: 'Pretendard-Regular';
	padding: 8px 12px;
	background-color: #454545;
	border-radius: 4px;
	border: 2px solid #454545;
	cursor: pointer;
	text-align: center;
	color: #F6F1E9;
	transition: 0.4s ease;
	width: 100%;
}

.back-img {
	background-image: url("/resource/image/backGround.jpg");
	background-size: cover;
	display: flex;
	justify-content: center;
	height: 65rem;
	padding-top: 1em;
}

.search div {
	padding: 4px;
}

.detail-search-position{
	display: flex;
    align-items: start;
    height: 95%;
    padding: 5px;
    width: 17%;
}


.search-box {
	border-radius: 8px;
	text-align: center;
	background-color: rgba(255, 241, 193, 0.9);
	width: 25%;
	height: 25%;
	display: flex;
	align-items: center;
	background-color: rgba(255, 241, 193, 0.9);
}

.search-box-rage {
	width: 100%;
}

.search-box-position {
	width: 45%;
	display: flex;
	align-items: center;
	margin-top: 20em;
}

.search-inside-range {
	width: 70%;
	display: flex;
	align-items: center;
}

.search-box-inside {
	font-size: 20px;
	font-weight: bold;
	width: 80%;
	display: flex;
	align-items: center;
	margin-left: 30px;
	gap: 10px;
}

.search-position {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.icon-size {
	width: 11%;
	border-radius: 9999px;
}

.detail-main {
	display: flex;
	padding-top: 4em;
	gap: 8px;
	justify-content: center;
}

.icon-position {
	display: flex;
	justify-content: center;
}

.icon-size-etc {
	width: 9%;
	border-radius: 9999px;
}

.detail-img {
	display: flex;
	flex: 1;
	position: relative;
	height: 50%;
	padding-left: 5%;
}

.like-button {
	font-size: 32px;
}

.like-button-position {
	display: flex;
	position: absolute;
	background-color: transparent;
	border: 2px;
}

.camping-content {
	display: flex;
	flex-direction: column;
	gap: 0.3em;
	align-items: center;
	flex: 1;
	padding-right: 7%;
}

.camping-line {
	display: flex;
}

.camping-name {
	font-family: 'MBC1961GulimM';
	font-size: 30px;
	font-weight: 600px;
}

.onelog-introduce {
	font-size: 32px;
	font-family: 'omyu_pretty';
	color: #2D2727;
}

a:hover {
	color: #05BFDB;
}

.signup-blank {
	border: 2px solid #e5e7eb;
	padding: 10px 12px;
	border-radius: 4px;
	outline: none;
	transition: 0.4s ease;
	align-items: center;
}

.signup-blank:focus {
	border: 2px solid #9ca3af;
}

.signup-bottom-position {
	text-align: center;
}

.bord-bottom-position {
	display: flex;
	flex-direction: column;
	gap: 12px;
	text-align: center;
}

.write-button-position {
	display: flex;
	justify-content: end;
	padding-right: 14%;
	padding-top: 1em;
}

.write-button {
	padding: 8px;
	background-color: #454545;
	transition: 0.4s ease;
	cursor: pointer;
	font-size: 14px;
	align-content: center;
	border-radius: 4px;
	border: 2px solid #454545;
	color: white;
}

.write-button:hover {
	background-color: white;
	color: #454545;
}

.text-button {
	padding: 8px;
	border-radius: 4px;
	transition: 0.4s ease;
	cursor: pointer;
	font-size: 14px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.text-button:hover {
	background-color: #e5e7eb;
}

.board-title {
	font-family: 'MBC1961GulimM';
	text-align: center;
	font-size: 32px;
	padding-top: 1em;
	padding-bottom: 0.5em;
}

.board-subtitle {
	font-size: 15px;
	padding-top: 0.5em;
}

.post-title {
	display: flex;
	width: 85%;
	padding: 20px 0px;
	border-bottom: 1px solid rgb(51, 51, 51);
	border-top: 2px solid rgb(51, 51, 51);
}

.post-t1 {
	flex-basis: 100px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.post-t2 {
	flex-grow: 1;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.post-t3 {
	flex-basis: 120px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

.post-content {
	display: flex;
	flex-direction: column;
}

.post-contentmain {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid rgb(244, 244, 244);
	width: 85%;
}

.post-content1 {
	flex-basis: 100px;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	padding: 10px 0px;
}

.post-content2 {
	flex-grow: 1;
	display: flex;
	text-align: left;
	align-items: center;
	padding-left: 2em;
}

.post-content3 {
	text-align: center;
	padding: 10px 0px;
	flex-basis: 120px;
}

.menu {
	position: absolute;
	box-shadow: 0 2px 4px -2px rgb(0 0 0/ 0.1), 0 4px 6px -1px
		rgb(0 0 0/ 0.1);
	border-radius: 6px;
	text-align: center;
	display: flex;
	width: 100%;
	flex-direction: column;
	padding: 8px;
	font-size: 14px;
	gap: 8px;
}

.menu div {
	min-width: max-content;
	padding: 4px;
}

.backimg-linear {
	margin: 0;
	width: 100%;
	text-align: center;
	position: relative;
}

.logo {
	width: 600px;
	padding-top: 4em;
	padding-bottom: 6em;
}

.indedetail-button {
	font-family: 'Pretendard-Regular';
	background-color: #CBF1F5;
	color: black;
	width: 80px;
	height: 30px;
	padding: 0.2px;
	border-top-left-radius: 12px 12px;
	border-top-right-radius: 12px 12px;
	border: none;
	text-align: center;
	cursor: pointer;
}

.indexbutton-position {
	position: absolute;
	top: 43%;
	right: 37%;
}

.title {
	font-family: 'MBC1961GulimM';
	font-size: 40px;
}

.belt {
	background-color: #FFF1C1;
	width: 100%;
	height: 350px;
	position: absolute;
	bottom: -47%;
}

.back {
	position: fixed;
	opacity: 0.95;
	text-align: left;
	padding-left: 2%;
	padding-top: 5%;
	padding-bottom: 6%;
	background-color: #FFF1C1;
	width: 530px;
	height: 80px;
	border-radius: 4px;
	position: absolute;
	top: 46%;
	left: 34%;
}

.but {
	font-family: 'Pretendard-Regular';
	padding: 3px 5px;
	background-color: white;
	margin: 1px;
	border-radius: 6px;
	border: 2px solid #454545;
	cursor: pointer;
	text-align: center;
}

.but:hover {
	font-family: 'Pretendard-Regular';
	padding: 3px 5px;
	background-color: #454545;
	color: white;
	margin: 1px;
	border-radius: 6px;
	border: 2px solid #454545;
	cursor: pointer;
}

.sign-button {
	font-family: 'Pretendard-Regular';
	padding: 8px 12px;
	background-color: #454545;
	border-radius: 4px;
	border: 2px solid #454545;
	cursor: pointer;
	text-align: center;
	color: #F6F1E9;
	transition: 0.4s ease;
	display: flex;
	justify-content: center;
}

.sign-button:hover {
	background-color: white;
	color: #454545;
	border-radius: 6px;
	border: 2px solid #454545;
	cursor: pointer;
}

.blank {
	font-family: 'Pretendard-Regular';
	border: 0;
	padding-left: 8px;
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 4px;
}

.signUp-balnk {
	font-family: 'Pretendard-Regular';
	border-radius: 6px;
	padding: 4px;
	width: 280px;
	height: 35px;
	margin: 2px;
}

.title-blank {
	font-family: 'Pretendard-Regular';
	border-radius: 6px;
	border: 1px solid #454545;
	padding: 10px;
	width: 380px;
}

.postBody-blank {
	font-family: 'Pretendard-Regular';
	border-radius: 6px;
	border: 1px solid #454545;
	padding: 10px;
	width: 430px;
	height: 1030px;
	text-align: left;
	vertical-align: top;
}

.login-blank {
	border: 2px solid #e5e7eb;
	padding: 8px 12px;
	border-radius: 4px;
	outline: none;
	transition: 0.4s ease;
}

.login-blank:focus {
	border: 2px solid #9ca3af;
}

.root {
	font-family: 'Pretendard-Regular';
	text-align: center;
}

.postDetail-position {
	padding: 6%;
}

.camping-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	margin: 0 20px 20px 0;
}

/*-------------상세 검색의 CSS ------------------------------*/
/*팝업창 CSS*/
.ds-box {
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
/*box가 열리면서 주변이 어둡게 해주는 CSS*/
#ds-overlay {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
}
/*box 안 컨텐츠 CSS*/
#ds-content {
	position: relative;
	background-color: aliceblue;
	padding: 10px 20px;
	text-align: center;
	width: 40%;
	height: 53%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px
		rgba(0, 0, 0, 0.23);
	border-radius: 10px;
	z-index: 1;
}
/*닫기 버튼 클릭시 팝업창이 사라지게 하는 CSS*/
.hidden {
	display: none;
}
/*상세검색 태그 속성 CSS*/
.ds-btn-ctr {
	display: flex;
	justify-content: flex-end;
}

.ds-container {
	width: 650px;
	display: flex;
	align-items: center;
}	

.ds-list-title {
	display: flex;
	width: 73px;
	font-weight: bold;
}

.ds-list-title1 {
	display: flex;
	width: 166px;
	font-weight: bold;
}

.ds-list-title2 {
	display: flex;
	width: 113px;
	font-weight: bold;
}

.ds-list-title3 {
	display: flex;
	width: 112px;
	font-weight: bold;
}

.ds-list-rage {
	display: flex;
}

ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding-right: 3px;
}

li{
	list-style: none;	
}
label {
	
	padding-inline: 4px;
}

/*box 내부 검색, 초기화 버튼 제어*/
.btn-ctr {
	display: flex;
	justify-content: space-between;
	width: 53%;
	padding-left:35%;
	padding-top:1.5em;
}